[flake8]
ignore =
    # H301: one import per line
    # H301
    # H306: imports not in alphabetical order (e.g. time, os)
    # H306
    # E501: line too long
    # E501
    # E266: too many leading '#' for block comment
    E266
    # E402: module level import not at the top of file
    E402
extend-ignore =
    # whitespace before ':' warning (space added by black)
    E203
# set indent size (default = 4)
indent-size = 4
# extend maximum allowed line length (beyond default 79)
max-line-length = 100
# set maximum allowed (McCabe) complexity value for a block of code
max-complexity = 10
# exclude files/folders
exclude = .git,__pycache__
